{% extends "layout.html" %}

{% block title %}
  home
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="h3 text-center">HOME !</div>
    <form class="container-fluid col-6 content-justify-center" action={{url_for("search")}} method="post">
      <input type="text" name="isbn" placeholder="isbn" required>
      <button class="btn btn-primary mx-2" type="submit">search</button>
      <button class="btn"><a href="{{url_for('index')}}">logout</a></button>
    </form>
  </div>
{% endblock %}
