{% extends "layout.html" %}

{% block title %}
  books review
{% endblock %}

{% block body %}
<div class="container-fluid col-8">
  <form class="form-inline content-justify-center" action="{{url_for('home')}}" method="post">
    <div class="form-group">
      <div class="mx-lg-2">  <input type="text" name="username" placeholder="username" required> </div>
      <div class="mx-lg-2"> <input type="password" name="password" placeholder="password" required></div>
    <div class="mx-lg-2"> <button type="submit" class="btn btn-primary mb-2">login</button></div>
    <div class="mx-lg-2"> <a href="{{url_for('register')}}">register</a></div>
    </div>
  </form>
</div>
{% endblock %}
