{% extends "layout.html" %}

{% block title %}
  books review
{% endblock %}

{% block body %}

<div class="container-fluid col-8">
  <form class="form-inline content-justify-center" action="{{url_for('registred')}}" method="post">
    <div class="form-group">
      <div class="mx-2">  <input type="text" name="username" placeholder="username" required> </div>
      <div class="mx-2"> <input type="password" name="password" placeholder="password" required></div>
    <div class="mx-2"> <button type="submit" class="btn btn-primary mb-2">Register</button></div>
    <div class="mx-2"> <a href="{{url_for('index')}}">login</a></div>
    </div>
  </form>
</div>
{% endblock %}
